@import '@/variables';

* {
   margin: 0;
   padding: 0;
}
body {
   width: 1440px;
   height: 1160px;
}

@media(max-width: 1440px) {

.wrapper{
width: 1440px;
height: 1160px;
font-family: "Open Sans", sans-serif;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 0;
padding: 0px;
background: rgb(245, 245, 245);
   .header {
      width: 1440px;
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 162px 8px 162px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
      background: rgb(255, 255, 255);
      .header__logo {
         position: static;
         width: 136px;
         height: 24px;
         margin: 8px;
      }
      .header__iconBox {
         position: static;
         width: 174px;
         height: 39px;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 32px;
         .header__iconBox__contacts {
            position: static;
            width: 49px;
            height: 39px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            }
         }
         .header__iconBox__blog {
            position: static;
            width: 24px;
            height: 39px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            padding: 0px;
            cursor: pointer;
         }
         .header__iconBox__account{
            position: static;
            width: 37px;
            height: 39px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            padding: 0px;
            cursor: pointer;
         }
         .icon {
            width: 20px;
            height: 20px;
            margin: 2px;
         }
         .title {
            color: rgb(56, 56, 56);
            font-family: Open Sans;
            font-size: 10px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: 0%;
            text-align: center;
      }
   }
   .content {
      position: static;
      width: 1440px;
      height: 1104px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      padding: 24px 162px;
      .content__nav {
         width: 1116px;
         height: 34px;
         display: flex;
         gap: 20px;
         .content__nav__link {
            text-decoration: none;
            color: rgb(66, 66, 66);
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            cursor: pointer;
         }
         .arrow {
            cursor: default;
         }
      }
      .content__block {
         width: 1116px;
         height: 361px;
         display: flex;
         gap: 20px;
         .content__block__card {
            width: 831px;
            height: 361px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 48px;
            .text {
               width: 321px;
               height: 361px;
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: flex-start;
               gap: 12px;
               padding: 32px 0px 32px 24px;
               border-radius: 7px 0px 0px 7px;
               background: rgb(255, 255, 255);
               .text__title {
                  position: absolute;
                  width: 550.57px;
                  height: 43px;
                  left: 193px;
                  top: 162px;
                  color: rgb(66, 66, 66);
                  font-size: 36px;
                  font-weight: 800;
                  line-height: 120%;
                  text-align: left;
               }
               .text__status {
                  position: absolute;
                  width: 118px;
                  height: 15px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  align-items: center;
                  // right: 460px;
                  left: 862px;
                  top: 162px;
                  padding: 4px 10px;
                  border-radius: 3px;
                  background: rgba(255, 255, 255, 0.8);
                  color: rgb(56, 56, 56);
                  font-size: 10px;
                  font-weight: 400;
                  line-height: 110%;
               }
               .text__tags {
                  width: 297px;
                  height: 76px;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 6px;
                  margin-top: 62px;
                  .text__tags__tag {
                     width: fit-content;
                     height: 29px;
                     align-items: center;
                     padding: 6px 12px 6px 12px;
                     border-radius: 3px;
                     background: rgba(28, 28, 28, 0.05);
                     color: rgb(56, 56, 56);
                     font-size: 14px;
                     font-weight: 600;
                     line-height: 120%;
                     text-align: center;
                  }
               }
               .text__content {
                  width: 297px;
                  height: 147px;
                  align-items: flex-start;
               }
            }
            .gradient {
               width: 510px;
               height: 361px;
               left: 321px;
               border-radius: 0px 7px 7px 0px;
               background-image: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 50%), url(./img/image.png);
            }
         }
         .content__block__card-buy {
            width: 261px;
            height: 229.42px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
            background: rgb(255, 255, 255);
            .pay {
               position: static;
               width: 215.81px;
               height: 51.42px;
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: center;
               gap: 8px;
               .pay__title {
                  width: 134px;
                  height: 17px;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  color: rgba(56, 56, 56, 0.8);
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 130%;
                  text-align: left;
                  margin: 0;
               }
               .pay__method {
                  width: 215.81px;
                  height: 26.42px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 18px;
                  .pay__method__icon {
                     background: rgb(255, 255, 255);
                     cursor: pointer;
                  }
               }
            }
            .info {
               width: 265px;
               height: 38px;
               font-size: 16px;
               font-weight: 400;
               line-height: 120%;
               text-align: center;
               .info__title {
                  color: rgb(56, 56, 56);
               }
               .info__link {
                  color: rgb(221, 78, 0);
                  cursor: pointer;
               }
            }
            .button {
               width: 219px;
               height: 52px;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               gap: 10px;
               padding: 16px 24px;
               border: none;
               border-radius: 8px;
               background-color: #F77833;
               color: #ffffff;
               font-size: 16px;
               font-weight: 700;
               font-weight: bold;
               line-height: 20px;
               letter-spacing: -1%;
               text-align: right;
               .price {
                  font-weight: bold;
               }
            }
         }
      }
      .content__reviews {
         position: static;
         width: 831px;
         height: 597px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         align-items: center;
         gap: 24px;
         .content__reviews__title {
            width: 831px;
            height: 34px;
            display: flex;
            gap: 10px;
            align-items: flex-start;
            color: rgb(66, 66, 66);
            font-size: 28px;
            font-weight: 800;
            line-height: 120%;
            margin-top: 24px;
            .span {
               color: rgb(66, 66, 66);
               font-size: 14px;
               font-weight: 400;
               line-height: 120%;
            }
         }
         .card {
            width: 831px;
            height: 432px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            border: none;
            background: rgb(245, 245, 245);
            overflow-x: auto;
            overflow-y: hidden;
            /* Устанавливаем размеры и цвет фона для скроллбара */
            &::-webkit-scrollbar {
               width: 831px;
               height: 15px; 
               border-radius: 7px;
               background: rgb(221, 221, 221);
            }
            /* Стилизуем ползунок скроллбара */
            &::-webkit-scrollbar-thumb { 
               border-radius: 7px;
               background: rgb(168, 168, 168);
            }
            /* Стили для ползунка при наведении курсора */
            &::-webkit-scrollbar-thumb:hover { 
               background: #929090; 
            }
            .card__review {
               width: 261px;
               height: 432px;
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: flex-start;
               gap: 16px;
               padding: 30px 24px;
               border-radius: 8px;
               box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
               background: rgb(255, 255, 255);
               .card__review__date {
                  width: fit-content;
                  height: 17px;
                  align-items: flex-start;
                  color: rgb(134, 134, 134);
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 130%;
                  letter-spacing: 0%;
                  text-align: left;
                  margin: 0;
               }
               .card__review__user {
                  width: 213px;
                  height: fit-content;
                  max-height: 54px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 6px;
                  .card__review__user__name {
                     width: 212px;
                     height: fit-content;
                     max-height: 36px;
                     display: flex;
                     flex-direction: column;
                     color: rgb(56, 56, 56);
                     font-size: 14px;
                     font-weight: 600;
                     text-align: left;
                     margin: 0;
                  }
                  .card__review__user__rating {
                     width: 212px;
                     height: 12px;
                     display: flex;
                     flex-direction: row;
                     gap: 8px;
                     .card__review__user__rating__star {
                        width: 12px;
                        height: 12px;
                     }
                  }
               }
               .card__review__title {
                  width: 213px;
                  height: 23px;
                  color: rgb(56, 56, 56);
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 120%;
                  text-align: left;
                  margin: 0;
               }
               .card__review__message {
                  width: 218px;
                  height: 244.25px;
                  color: rgb(94, 94, 94);
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 130%;
                  text-align: left;
                  padding: 0;
               }
            }
         }
         .content__reviews__button {
            width: 437px;
            height: 52px;
            padding: 16px 24px;
            border: none;
            border-radius: 8px;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
            background: rgb(247, 120, 51);
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -1%;
            text-align: center;
         }
      }
     
   }
}
}